body {
    height: 100%;
    width: 100%;
}

/* .main {
    height: 100%;
    width: 100%;
    position: relative;
} */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    margin-left: 33vw;
    height: 300px;
    width: 500px;
    cursor: pointer;
    border-radius: 10px;
}

.uploaded-row {
    width: 500px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 33vw;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #e9f0ff;
}